<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service 
            android:name=".TimeLimitService"
            android:foregroundServiceType="specialUse"
            android:exported="false" />
    </application>

</manifest>